{% extends "base.html" %}

{% block content_head %}
    <title>Cart</title>
{% endblock %}

</head>
<body>
{% block content %}
<div class="container  mt-5 mb-5">
    {% for obj in cart_obj %}
        <div class="card mt-1">    
            <!-- <div class="card-body mx-auto" style="width: 280px;"> -->
            <a href="{{ obj.product.get_absolute_url }}">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><img src="{{ obj.product.image.url}}" style="height:90px;width:auto;"></div>
                        <div class="col">{{ obj.product.title }}</div>
                        <div class="col">
                            <form action="{% url 'cart:updateCart' %}" method="POST" >{% csrf_token %}
                                <input type="hidden" name="product_id" value='{{ obj.product.id }}'>
                                <input type="hidden" name="action_type" value='delete'>
                                <button type="submit" class="btn btn-success mt-2">Delete</button><!-- Delete -->
                            </form>
                        </div><!-- Delete -->
                        
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col"><b>Quantity:</b> {{ obj.quantity }}</div>
                        <div class="col"><b>price: </b>{{ obj.product.price }}</div>
                    </div>
                    
                </div>
            </a>
        </div>
    {% endfor %}
    <hr/>
    <div class="card" >
        <div class="card-body">
          <h5 class="card-title"><b>Payment Details</b></h5>
          <hr/>
          <div class="row">
              <div class="col"><b>Sub-total:</b></div>
              <div class="col">{{ sub_total }}</div>
          </div><hr/>
          <div class="row">
              <div class="col"><b>Shipping Carge:</b></div>
              <div class="col">{{ shipping_charge }}</div>
          </div><hr/>
          <div class="row">
              <div class="col"><b>Total:</b></div>
              <div class="col">{{ total }}</div>
          </div>
        </div>
    </div>
    <div class="card mt-1" >
        <div class="card-body">
          <div class="row">
              <div class="col"><a href='{% url "products:productsList" %}'>Continue Shopping</a></div>
              <div class="col">
                  <a href="{% url 'order:createOrder' %}"><button class="btn btn-success mt-2">Create Order??</button></a>
              </div>
          </div>
        </div>
    </div>
</div> 
    
{% endblock %}
